/* Estilo do card */
.pokemon-card {
  border: 5px solid silver; /* Borda prateada */
  border-radius: 15px;
  margin: 10px;
  padding: 10px;
  width: 200px;
  height: 300px; /* Altura fixa para o card */
  text-align: center;
  color: white; /* Texto branco para melhor contraste */
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para efeito 3D */
  background: linear-gradient(45deg, #9098a2, #c0c0c0); /* Gradiente padrão */
}

/* Efeito de flip */
.pokemon-card.flipped {
  transform: rotateY(180deg);
}

/* Lados do card (frente e verso) */
.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 10px; /* Bordas arredondadas */
}

/* Verso do card */
.card-back {
  transform: rotateY(180deg);
  background: linear-gradient(
    45deg,
    #333,
    #555
  ); /* Gradiente escuro para o verso */
}

/* Fundo com Pokébola */
.pokeball-background {
  position: absolute;
  top: 0;
  left: -7px;
  width: 100%;
  height: 100%;
  background-image: url("./../public/pokeball.svg");
  background-size: 100%; /* Tamanho da Pokébola */
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.1; /* Transparência */
  z-index: 1;
}

/* Estilo para o nome do Pokémon e indicador de shiny */
.card-name {
  text-align: center;
  margin-bottom: 10px;
  z-index: 2; /* Garante que o nome fique acima da Pokébola */
}

.card-name h2 {
  margin: 0;
  font-size: 1.5em;
}

.card-name .shiny {
  color: gold;
  font-weight: bold;
  margin: 0;
  font-size: 0.9em;
}

/* Estilo para a imagem do Pokémon */
.card-image {
  width: 100%;
  height: 150px; /* Altura fixa para a imagem */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2; /* Garante que a imagem fique acima da Pokébola */
}

.card-image img {
  max-width: 100%;
  max-height: 100%;
}

/* Estilo para o tipo do Pokémon */
.card-type {
  text-align: center;
  margin: 10px 0;
  font-size: 1em;
  z-index: 2; /* Garante que o tipo fique acima da Pokébola */
}

/* Estilo para o ID do Pokémon */
.card-id {
  position: absolute;
  top: -20px;
  left: -5px;
  font-size: 1.2em;
  font-weight: bold;
  z-index: 2; /* Garante que o ID fique acima da Pokébola */
}

/* Estilo para o verso do card */
.card-back h2 {
  margin: 0;
  font-size: 1.5em;
}

.card-back .total-stats {
  font-size: 1.2em;
  font-weight: bold;
  margin: 10px 0;
}

/* Stats Total no canto superior direito */
.card-stats {
  position: absolute;
  bottom: -6px;
  right: 50px;
  font-size: 1em;
  font-weight: bold; /* Negrito */
  z-index: 2; /* Garante que o Stats Total fique acima da Pokébola */
}

.card-back ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
  width: 100%;
}

.card-back ul li {
  margin: 5px 0;
}

/* Estilo para o container da lista de Pokémon */
.pokemon-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Estilo para os campos de entrada e botão */
.input-fields {
  margin-bottom: 20px;
}

.input-fields input {
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.input-fields button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.input-fields button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Estilo global */
.App {
  text-align: center;
  padding: 20px;
}

/* Estilo para o título */
h1 {
  margin-bottom: 20px;
}
